*{
    background-image: url('');
    background-size: 100% 600px;
    font-family: "Kaushan script";
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b0f6f7;
    border-radius: 10px;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #b0f6f7;
}
  
.active {
    background-color: white;
}
h1{
    color:white;
    text-align:center;
     ;
}


/*
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
*/

.university {
    background-size: cover;
    background-position: center;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    background-color: white;
    transition: transform 0.2s;
}

.university:hover {
    transform: scale(1.02);
}

.university a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
